version: '3'
services:
  chat:
    deploy:
      mode: replicated
      replicas: 2
    build:
      context: .
    ports:
      - 8000:8080
    ###
    # Insert here the instruction to mount the `client`volume
    ###
