.DS_Store
gemalto.privkey
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
terraform/sandbox-wescale-3b00dc1686b7.json
recap-retour de formation.numbers
list-ip.li
terraform/.terraform*
terraform/sandbox-wescale.json
terraform/wsc-training-deploy.json
terraform/kubernetes-formation
terraform/kubernetes-formation.pub
demo2/front-test/package-lock.json
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.backup
kubernetes-ressources/terraform/sandbox-wescale.json
kubernetes-ressources/terraform/terraform.tfstate.backup
**/.terraform/*
*.iml
.gitsecret/keys/random_seed
!*.secret
kubernetes-ressources/terraform/config/*

# Created by https://www.toptal.com/developers/gitignore/api/direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv

### direnv ###
.direnv
.envrc

# End of https://www.toptal.com/developers/gitignore/api/direnv

### IDEs ###
/.idea/
