kind: Deployment
apiVersion:	apps/v1
metadata:
  name: release-name-article-service
spec:
  replicas: 3
  selector:
   matchLabels:
    app.kubernetes.io/name: article-service
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1  
  minReadySeconds: 20
  template:
    metadata:
      labels:
        app.kubernetes.io/name: article-service
    spec:
      containers:
      - name: article-service
        image: alphayax/microservice-demo-article-service:2.0.1
        env:
          - name: MONGODB_PASSWORD
            valueFrom:
              secretKeyRef:
                key: password
                name: database
          - name: MONGODB_URI
            value: mongodb://root:$(MONGODB_PASSWORD)@mongodb:27017
              
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 8080
      terminationGracePeriodSeconds: 1
